<% if @post.errors.any? %>
  <% @post.errors.full_messages.each do |error| %>
    <%= js add_gritter(error, title: "Notification", sticky: false, image: :error) %>
  <% end %>
<% end %>
<%= form_for(@post, :html => {class: "form", role: "form"}) do |f| %>
  <div class="form-group">
    <div class="control-label">
      <%= f.label :date %>
    </div>
    <div>
      <%= f.date_field :date, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="control-label">
      <%= f.label :rationale %>
    </div>
    <div>
      <%= f.text_area :rationale, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="control-label">
      <%= f.label :overtime_request %>
    </div>
    <div>
      <%= f.text_field :overtime_request, class: "form-control" %>
    </div>
  </div>

  <%= render partial: 'post_status', locals: {f: f} if ADMIN_USER_TYPES.include?(current_user.type) %>

  <div class="form-group">
    <%= f.submit @post.new_record? ? 'Save' : "Update", id: "submit_post", class: "btn btn-primary btn-block" %>
  </div>
<% end %>
