<tr>
  <td>
    <%= post.id %>
  </td>
  <td>
    <%= post.date %>
  </td>
  <td>
    <%= post.user.full_name %>
  </td>
  <td>
    <%= truncate(post.rationale) %>
  </td>
  <td>
    <%= status_label post.status %>
  </td>
  <td>
    <%= link_to "Edit", edit_post_path(post), id: "edit_post_#{post.id}"%>
  </td>
  <td>
    <%= link_to "Delete", post_path(post), method: :delete, data: {confirm: "Entry will be deleted, are you sure?"}, id: "delete_post_#{post.id}" %>
  </td>
</tr>
